@{
    ViewData["Title"] = "Home Page";
    var ss = Model;
}

<script src="~/js/jquery-1.7.1.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/bootstrap/css/bootstrap.min.css"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> @ss.RequestId</a>.</p>
    <p>@ViewBag.aa</p>
    <div class="input-group   input-group-sm">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" id="username" placeholder="username" value="">
    </div>
    <div class="input-group   input-group-sm">
        <span class="input-group-addon"></span>
        <input type="password" class="form-control" id="password" placeholder="password" value="">
    </div>
    <div class="btn-group btn-group-lg">
        <button type="button" id="login" class="btn btn-default">登录</button>     
    </div>


    <input type="button" name="name" id="gettoken" value="获取Token" />
    <input type="button" name="name" id="checktoken" value="验证Token" />
    <input type="text" name="name" id="tokenvaue" value="" />
    <script>

        var token = "";
        $("#login").click(function () {
            $.ajax(
                {

          url: '@Url.Action("Login", "Home")',
            type: "post",
                //dataType: "json",
                    data: {
                        username: $("#username").val(),
                        password: $("#password").val(),
                    },
                    success: function (data) {

                        if (data) {

                            //data = JSON.parse(data);
                            alert(data);
                        }
                    }
        });

        });

        $("#gettoken").click(function () {
            $.ajax(
                {

          url: '@Url.Action("Token", "Jwt")',
            type: "get",
                //dataType: "json",
                    success: function (data) {

                        if (data) {

                            token = data;
                            //data = JSON.parse(data);
                            alert(token);
                        }
                    }
        });

        });


        $("#checktoken").click(function () {
            $.ajax({
                url: "/api/Jwt/GET",
                headers: { "Authorization": "Bearer " + token },
                data: { token: token },
                type: "get",
                async: false,
                success: function (e) {
                    alert(JSON.stringify(e));
                }, error: function (e) {
                    alert(e.status);
                }
            });
        });

    </script>
</div>
