
@{
    ViewData["Title"] = "Home Page";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.aa</title>
        <script src="~/js/jquery-1.7.1.min.js"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/bootstrap/css/bootstrap.min.css"></script>
    </head>
    <body>
        <div>
            <div class="input-group   input-group-sm">
                <span class="input-group-addon"></span>
                <input type="text" class="form-control" id="username" placeholder="username" value="">
            </div>
            <div class="input-group   input-group-sm">
                <span class="input-group-addon"></span>
                <input type="password" class="form-control" id="password" placeholder="password" value="">
            </div>
            <div class="btn-group btn-group-lg">
                <button type="button" id="login" class="btn btn-default">登录</button>
            </div>

        </div>
    </body>
    </html>



